body {
	background-color: #efeee7;
	font: "Georgia", "Times New Roman", Times, serif;
	color: #333333;
	margin: 0;
	padding: 0;
}

header {
	background-color: #333333;
}

h1 {
	color: white;
	font-size: 28px;
	padding: 15px;
	margin: 15px;
	text-align: center;
}

h2 {
	font-size: 24px;
}

.container {
	margin: 0 auto;
}


#bio-image {
	width: 200px;
	float: left;
	margin-right: 5px;
}

#main-bio {
	width: 70%;
	float: left;
}

#content-info {
	width: 30%;
	float: left;
}